<weui-tabbar>
    <!-- <weui-tab>
        <span class="weui-tabbar__icon">
            <i class="fa fa-edit"></i>
        </span>
        <p class="weui-tabbar__label">记账</p>
    </weui-tab>
    <weui-tab>
        <span class="weui-tabbar__icon">
            <i class="fa fa-bar-chart"></i>
        </span>
        <p class="weui-tabbar__label">统计</p>
    </weui-tab> -->
    <weui-tab heading="发现" [badge]="'dot'" [icon]="icon">
        <article class="weui-article">
            <h1>发现</h1>
        </article>
    </weui-tab>
    <weui-tab heading="我" [icon]="icon">
        <article class="weui-article">
            <h1>我</h1>
        </article>
    </weui-tab>
</weui-tabbar>