<!--
  路由显示的内容是插入到 router-outlet 的同级的下方节点
  而不是在 router-outlet 中包含
-->
<div style="background-color: aliceblue;
height: 100vh; position: relative;">
  <router-outlet>
  </router-outlet>
  <app-footer (tabSelected)="handleTabSelect($event)"></app-footer>
</div>

<!-- [selectedIndex]="selectedIndex$ | async" -->
<div id="overlay" class="hidden" (click)="removeDialog()"></div>
<div id="dialog-container" class="hidden"></div>