<app-main></app-main>

<mat-slider min="1" max="100" step="1" value="66"></mat-slider>


<div class="example-label">Basic</div>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button href="https://www.google.com/" target="_blank">Link</a>
</div>


<!--按钮-->
<button weui-button>页面主操作 Normal</button>

