ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
ul li {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    white-space: nowrap;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.active{
    color: red;
}
.first{
    color: green;
    font-weight: 500;
    font-style:italic;
    font-size: 24px;
}
.indicator{
    height: 5px;
    width: 2rem;
    margin: 5px,1px,0px,1px;
}

.even{
    font-weight: 500;
    font-style:italic;
}
.odd{
    font-weight: 100;
}


::-webkit-scrollbar{
    display: none;
}