<ul [ngStyle]="{'background-color': bkgColor}">
    <li *ngFor="let menu of menus; let i = index; let even = even;">
        <!-- <a href="#"  -->
        <a href={{menu.link}} [class.active]="i === selectedIndex"
            [ngStyle]="{color:i === selectedIndex?titleActiveColor:titleColor}" [class.even]="even"
            (click)="handleSelection(i)">
            {{menu.title}}
        </a>
        <span class="indicator" 
        [ngStyle]="{'background-color': indicatorColor}"
        *ngIf="i === selectedIndex "> </span>
    </li>

</ul>

