<input type="text" [(ngModel)]="text">
<button (click)="addTodo()"> 添加 </button>
<ul>
    <li *ngFor="let todo of todoList">
        <span>{{todo.id}}</span> {{todo.name}} <span (click)="deleteTodo(todo.id)">delete</span>
    </li>
</ul>