ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
ul li {
    display: inline-block;
    margin: 0 5px;
    white-space: nowrap;
    padding: 0;
}

a{
    text-decoration: none;
}

.active{
    color: red;
}
.first{
    color: green;
    font-weight: 500;
    font-style:italic;
    font-size: 24px;
}
.even{
    font-weight: 500;
    font-style:italic;
}


::-webkit-scrollbar{
    display: none;
}