<app-scrollable-tab [menus]="topMenus" 
indicatorColor="red" 
titleActiveColor="red" 
[bkgColor]="scrollTabBkgColor"
titleColor="black"
*ngIf="scrollTabBkgColor==='#00000000'||scrollTabBkgColor==='red'||scrollTabBkgColor==='blue'"
    (tabSelected)="handleTabSelecetd($event)">
</app-scrollable-tab>

<app-image-slider [sliders] = "imageSliders" #imageSlider></app-image-slider>

<app-horizontal-grid>
<!--指令所在元素叫宿主-->
<span appGridItem *ngFor="let item of channels">
    <img [src]="item.icon" 
    alt="" 
    appGridItemImage = "2.5rem"
    [fitMode]="'cover'"/>
    <span class="title" appGridItemTitle = ".6rem">{{item.title}}</span>
</span> 
</app-horizontal-grid>