<!-- 标题 -->
<weui-navbar>
    <weui-tab heading="理财从记账开">
    </weui-tab>
</weui-navbar>

<div style="margin-top: 50px;">
    <!-- 金额输入框 -->
    <weui-input type="number" name="num" placeholder="请输入金额" [(ngModel)]="money">
        <label class="weui-label">￥</label>
    </weui-input>
    <!-- 九宫格按钮 -->
    <div class="weui-grids" [ngStyle]="contentStyle">
        <a href="javascript:;" class="weui-grid" *ngFor="let b of billTypes">
            <div class="weui-grid__icon">
                <i class="fa fa-2x fa-bar-chart"></i>
            </div>
            <p class="weui-grid__label">{{b.name}}</p>
        </a>
    </div>
</div>