<ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3>Loading...</h3>
    </div>
</ng-template>
<div>
    <h3>User List</h3>
    <ul>
        <li *ngFor="let u of users">
            <a routerLink="/detail/{{u.id}}">
                {{u.name}} {{u.gender}} {{u.addr}}
            </a>
        </li>
    </ul>
</div>



<ngx-loading [show]="loading" [config]="{
  animationType: ngxLoadingAnimationTypes.circleSwish,
  primaryColour:  '#ffffff',
  backdropBorderRadius: '13px'
}" [template]="customLoadingTemplate"></ngx-loading>