<div class="bottomfixed">
  <app-horizontal-grid [cols]="5" [displayCols]="5">

    <div appGridItem *ngFor="let item of tabItems; let idx = index">
      <div style="flex:1;flex-direction: column;padding: 10px;
        width:20vw;justify-content: space-between;align-items: center;align-content: center;"
        (click)="toggleSelected(idx)">
        <!-- 投影组件的优点此时就体现出来了，对于 img 怎么操作完全交给组件的使用者，而不是封装在 grid 组件中 -->
        <!-- <img appGridItemImage="2rem" [src]="idx === selectedIndex ? item.selectedIcon : item.icon" alt=""
          (click)="toggleSelected(idx)" />
        <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span> -->

        <!-- 投影组件的优点此时就体现出来了，对于 img 怎么操作完全交给组件的使用者，而不是封装在 grid 组件中 -->

        <div style="width: 12vw;height: 12vw;padding: 4vw;
        background-color:antiquewhite;align-self: center;">
        
          <img style="width: 100%;height: 100%;background-color: aliceblue;align-self: center;"
          [src]="idx === selectedIndex ? item.selectedIcon : item.icon" alt="" />
        </div>
        <div style="flex:1;width:100%;align-content: center;
        line-height: 40px;background-color: aliceblue;
        align-self: center;text-align: center;" class="title">{{
          item.title }}</div>

      </div>
    </div>
  </app-horizontal-grid>

</div>