<div>
    <h3>用户详情</h3>
    <div *ngIf="user">
        <p>
            {{user.name}}
        </p>
        <p>
            {{user.gender}}
        </p>
        <p>
            {{user.addr}}
        </p>
    </div>
</div>
