<div class="container" [ngStyle]="{'height': sliderHeight}">
  <div class="image-slider" #imageSlider  
  (mousedown)="handleDown($event)"
  (mouseup)="handleUp($event)"
  (mouseenter)="handleEnter($event)"
  (mouseover)="handleEnter($event)"
  (mousemove)="handleEnter($event)"
  (scroll)="handleScroll($event)" 
  (drag)="handleDrag($event)">
    <img #img
    [src]="slider.imgUrl" 
    alt="slider.caption" 
    *ngFor="let slider of sliders">
  </div>
  <div class="nav-section">
    <span *ngFor="let slider of sliders ; let index = index;" class="slider-indicator"
    [ngClass]="{'slide-button-select': index===selectedIndex}">
    </span>
  </div>
</div>