.container{
    position: relative;
    overflow: hidden;
}
.container .image-slider{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.container  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: start;
}

.nav-section{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    color: #FFF;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.nav-section .slider-indicator{
    display: flex;
    width: 10px;
    height: 10px;
    background-color: white;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.nav-section .slide-button-select{
    background-color: red;
}